<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{{ this.page.title }}</title>
      <meta name="author" content="^A^ero" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Soluciones digitales inteligentes para empresas, comercios y proyectos en la nube." />
      <meta name="keywords"  content="diseño, desarrollo, alojamiento, hosting, web, marketing, digital" />
      <meta name="theme-color" content="#ff0000" />
      <link rel="shortcut icon" href="{{'assets/img/favicon.ico' | theme}}">
      <link rel="stylesheet" type="text/css" href="{{'assets/dist/fullpage.css' | theme}}" />
      <link rel="stylesheet" href="{{'assets/css/bulma.css' | theme}}">
      <link rel="stylesheet" href="{{'assets/css/aero.css' | theme}}">
      <link rel="stylesheet" type="text/css" href="{{'assets/css/fonts.css' | theme}}" />
      <link rel='stylesheet' href='//unpkg.com/plyr@3/dist/plyr.css'>
      <link rel="stylesheet" href="{{'assets/css/player.css' | theme}}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      {% styles %}
      <!--[if IE]>
      <script type="text/javascript">
         var console = { log: function() {} };
      </script>
      <![endif]-->
   </head>
   <body>
      <div id="fullpage">
         {% page %}
      </div>
      <script type="text/javascript" src="https://alvarotrigo.com/fullPage/vendors/scrolloverflow.js"></script>      
      <script type="text/javascript" src="{{'assets/dist/fullpage.js' | theme}}"></script>
      <script type="text/javascript" src="https://wikiki.github.io/node_modules/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.js"></script>
      <script type="text/javascript" src="{{'assets/js/aero.js' | theme}}"></script>
      <script src='//cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL'></script>
      <script src='//unpkg.com/plyr@3'></script>
      <script  src="{{'assets/js/player.js' | theme}}"></script>
        {% framework extras %}
        {% scripts %}      
   </body>
</html>