==
<div class="section has-text-light" id="section5">
            <div class="slide" id="slide1">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-10 is-offset-1">
                        <h1 class="is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-light">Brand Builder</h1>
                        <div class="column is-8 is-offset-2 is-size-4-fullhd is-size-4-widescreen is-size-4-desktop is-size-6-touch is-size-6-tablet is-size-7-mobile">  
                           <br>
                           Construir o reconstruir su marca en Internet es posible <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide2">
               <div class="content">
                  <h1 class="has-text-light">Descubrimos</h1>
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2 is-size-5-fullhd is-size-5-widescreen is-size-5-desktop is-size-6-touch is-size-6-tablet is-size-7-mobile">  
                        A través de <a class="tooltip is-tooltip-multiline is-tooltip-warning" data-tooltip="Llajwa Platform es una plataforma en línea para interactuar con nuestros clientes de forma efectiva y ordenada." style="color: white; border-bottom: 1px dashed white"><b>Llajwa Platform</b></a> 
                        seleccionamos el protocolo apto para aprender de su empresa.
                     </div>
                  </div>
               </div>
               <ul class="steps has-content-centered has-gaps is-horizontal">
                  <li class="steps-segment is-active" >
                     <span class="steps-marker is-warning">1</span>
                  </li>
                  <li class="steps-segment">
                     <span class="steps-marker is-grey">2</span>
                  </li>
                  <li class="steps-segment">
                     <span class="steps-marker is-grey">3</span>
                  </li>
               </ul>
            </div>
            <div class="slide" id="slide3">
               <div class="content">
                  <h1 class="has-text-light">Creamos</h1>
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2 is-size-5-fullhd is-size-5-widescreen is-size-5-desktop is-size-6-touch is-size-6-tablet is-size-7-mobile">  
                        Construimos un nuevo relato de marca o 
                        <a class="tooltip is-tooltip-multiline is-tooltip-warning" data-tooltip="El Brand Storytelling de una marca es la suma de su identidad corporativa y su reputación. Dicho de otro modo, es el resultado de aquello que una marca comunica sobre sí misma y la opinión que se forma la sociedad." style="color: white; border-bottom: 1px dashed white"><b>Brand Storytelling</b></a>,
                        que incluyen los factores de diferencia, la visión de la marca, los valores, 
                        el arquetipo, la línea de correa y el protocolo para el soporte; 
                        todo a través de canales digitales potentes y atractivos. 
                     </div>
                  </div>
               </div>
               <ul class="steps has-content-centered has-gaps is-horizontal">
                  <li class="steps-segment">
                     <span class="steps-marker is-warning">1</span>
                  </li>
                  <li class="steps-segment is-active">
                     <span class="steps-marker is-warning">2</span>
                  </li>
                  <li class="steps-segment">
                     <span class="steps-marker is-grey">3</span>
                  </li>
               </ul>
            </div>
            <div class="slide" id="slide4">
               <div class="content">
                  <h1 class="has-text-light">Distribuimos</h1>
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2 is-size-5-fullhd is-size-5-widescreen is-size-5-desktop is-size-6-touch is-size-6-tablet is-size-7-mobile">  
                        Inspirados en la confección de su nueva identidad digital, damos vida a su marca aplicando tecnología competente 
                        a través de canales apropiados para su organización (Webs, redes sociales, apps, etc.), un plan de lanzamiento 
                        y promoción para recolectar valor real para su marca.
                     </div>
                  </div>
               </div>
               <ul class="steps has-content-centered has-gaps is-horizontal">
                  <li class="steps-segment">
                     <span class="steps-marker is-warning">1</span>
                  </li>
                  <li class="steps-segment is-active">
                     <span class="steps-marker is-warning">2</span>
                  </li>
                  <li class="steps-segment">
                     <span class="steps-marker is-warning">3</span>
                  </li>
               </ul>
            </div>
            <div class="slide" id="slide5">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2">
                        <h1 class="has-text-light">¿Qué recibe?</h1>
                        <div class="column is-8 is-offset-2 has-text-left">
                           <p>
                              <i class="fas fa-check"></i> Diagnóstico inicial <span class="is-size-7 has-text-warning">¡Solicite gratis!</span><br>
                              <i class="fas fa-check"></i> Propuesta de desarrollo.<br>
                              <i class="fas fa-check"></i> Mockups y prototipos.<br>                                  
                              <i class="fas fa-check"></i> Desarrollo en la nube según propuesta. <span class="is-size-7">→ Webs, apps, etc.</span><br>                                    
                              <i class="fas fa-check"></i> Manual de marca.<br>  
                              <i class="fas fa-check"></i> Diseño/rediseño digital. <span class="is-size-7">→ Logotipo, redes sociales, material impreso, tarjetas de presentación.</span><br>
                              <i class="fas fa-check"></i> Manual de contenidos.<br>
                              <i class="fas fa-check"></i> Manual de estrategia publicitaria.<br>
                              <i class="fas fa-check"></i> Protocolo de atención al cliente.<br>                                      
                              <i class="fas fa-check"></i> Herramientas corporativas. <span class="is-size-7">→ Correo corporativo, CRM, otros.</span><br>
                              <i class="fas fa-check"></i> 7 días de promoción efectiva.<br>
                              <i class="fas fa-check"></i> Entrenamiento semanal.<br>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide has-background-link has-text-light" id="slide7">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2">
                        <h1 class="is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile">¿Más información?</h1>
                        <p>
                           Eleve su marca ¡estamos listos para empezar!
                        </p>
                        <a href="https://m.me/LlajwaClub" target="_blank" class="button is-white is-outlined  is-large">
                        <i class="fab fa-facebook-messenger"></i> &nbsp; Inicie un chat
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>