==
<div class="section has-background" id="section2">
            <div class="slide" id="slide1" style="overflow:hidden;">
               <div id="clouds">
                  <div class="cloud x1"></div>
                  <!-- Time for multiple clouds to dance around -->
                  <div class="cloud x2"></div>
                  <div class="cloud x3"></div>
                  <div class="cloud x4"></div>
                  <div class="cloud x5"></div>
               </div>
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-10 is-offset-1">
                        <h1 class="is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link">Cloud Computing</h1>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide2">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-10 is-offset-1">
                        <h2 class="is-size-2-fullhd is-size-2-widescreen is-size-2-desktop is-size-3-touch is-size-3-tablet is-size-4-mobile has-text-link">Ayudamos a crecer y escalar</h2>
                        <p><b>Ofrecemos potencia de cómputo, almacenamiento y entrega de 
                           contenidos. </b><br><br>Desarrolle aplicaciones sofisticadas, flexibles y fiables en nuestra nube.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide3">
               <div class="content">
                  <div class="column is-8 is-offset-2">
                     <div class="columns is-mobile is-multiline is-desktop">
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="fas fa-server aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">Shared Hosting</h4>
                              <p>Nuestro alojamiento web incluye dominio, cPanel, SSL y paquetes de potencia que lo hacen único.</p>
                           </div>
                        </div>
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="fab fa-cloudversify aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">Cloud Hosting</h4>
                              <p>Distribuya los recursos sus web apps a un grupo de servidores de forma flexible, escale en tiempo real.</p>
                           </div>
                        </div>
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="fas fa-database aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">CDN</h4>
                              <p>Nuestro CDN almacena su contenido estático y lo distribuye a más velocidad mientras reduce la latencia.</p>
                           </div>
                        </div>
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="fas fa-code aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">VPS</h4>
                              <p>Cómputo escalable con capacidades adicionales de monitoreo y seguridad para aplicaciones de producción.</p>
                           </div>
                        </div>
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="fas fa-laptop-code aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">Máquinas virtuales</h4>
                              <p>Virtualización de máquinas Linux y Windows, aptos para una variada gama de soluciones informáticas.</p>
                           </div>
                        </div>
                        <div class="column is-half-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
                           <div>
                              <i class="far fa-play-circle aeroFeaturesIconShort is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4 class="has-text-dark">Streaming</h4>
                              <p>Modernas plataformas y herramientas de distribución de audio y vídeo en vivo a través de múltiples canales.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide4">
               <div class="content">
                  <div class="column is-10 is-offset-1 ">
                     <div class="columns is-mobile is-multiline is-centered">
                        <div class="column">
                           <div class="">
                              <i class="fas fa-shopping-cart aeroFeaturesIcon is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4>Llajwa Marketplace</h4>
                              <div class="column is-6 is-offset-3 has-text-centered">
                                 <p>
                                    Servicios digitales adecuados al mercado boliviano.
                                 </p>
                              </div>
                              <a href="https://marketplace.llajwa.club/?ref=web-alojamientovip.com" target="_blank" class="button is-link"><span class="icon is-medium"><i class="fas fa-globe-americas"></i></span>&nbsp; marketplace.llajwa.club</a>                                 
                              <a href="https://m.me/llajwaClub/" target="_blank" class="button is-link is-outlined"><span class="icon is-medium "><i class="fab fa-facebook-messenger"></i></span></a>
                              <a href="https://api.whatsapp.com/send?phone=59177954277&text=Solicitud%20de%20soporte%20para%20Llajwa%20Marketplace." target="_blank" class="button is-link is-outlined"><span class="icon is-medium"><i class="fab fa-whatsapp"></i></span></a>                             
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide5">
               <div class="content">
                  <div class="column is-10 is-offset-1 ">
                     <div class="columns is-mobile is-multiline">
                        <div class="column">
                           <div class="">
                              <i class="fas fa-cloud aeroFeaturesIcon is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile has-text-link"></i>
                              <h4>Alojamiento VIP</h4>
                              <div class="column is-6 is-offset-3 has-text-centered">
                                 <p>
                                    Nuestra nueva agencia de tecnología, provee servicios a toda Latinoamérica.
                                 </p>
                              </div>
                              <a href="https://www.alojamiento.vip/?ref=web-alojamientovip.com" target="_blank" class="button is-link"><span class="icon is-medium"><i class="fas fa-globe-americas"></i></span>&nbsp; www.alojamiento.vip</a>                                 
                              <a href="https://m.me/llajwaClub/" target="_blank" class="button is-link is-outlined"><span class="icon is-medium "><i class="fab fa-facebook-messenger"></i></span></a>
                              <a href="https://api.whatsapp.com/send?phone=59177954277&text=Solicitud%20de%20soporte%20para%20Alojamiento.vip" target="_blank" class="button is-link is-outlined"><span class="icon is-medium"><i class="fab fa-whatsapp"></i></span></a>   
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide" id="slide7">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2">
                        <h3>Accesible, confiable y asistido, es picante...</h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide has-background-link has-text-light" id="slide8">
               <div class="content">
                  <div class="columns is-mobile">
                     <div class="column is-8 is-offset-2">
                        <h1 class="is-size-1-fullhd is-size-1-widescreen is-size-1-desktop is-size-2-touch is-size-2-tablet is-size-3-mobile">¿Preguntas?</h1>
                        <p>
                           No sea tímido, ¡nos encanta leer y escuchar!
                        </p>
                        <a href="https://m.me/LlajwaClub" target="_blank" class="button is-white is-outlined  is-large">
                        <i class="fab fa-facebook-messenger"></i> &nbsp; Inicie un chat
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>